.vscode/
__pycache__
datasets/
.tmp/

*.mp3
*.wav
features.p
.ipynb_checkpoints
*.pt

logs/
save/
logs/
results/
*.zip
save*/
runs/
pretrained_models/
/web/tagger/static/images/*
/web/latent_listening/datasets